# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Large Dataset Files
*.ft.txt
*.csv
*.zip
*.parquet

# Model Files
*.pkl
*.pickle

# Database
*.db
*.sqlite

# Environment
.env
secret.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db